body {
	background: #F5F5F5;
}
.logo {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.nextButton {
	margin-top: 20px;
}
.form-inline {
	margin-top: 50px;
}
.form-group {
	margin-left: 260px;
}
.table-responsive {
	margin-top: 50px;
}
#title {
	font-size: 20px;
	margin-top: 50px;
}
.bookingTicket,
.booked_list,
.ticketBox {
	background: #ffffff;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
	width: 100%;
	padding: 40px;
	margin: 2em;
	border-radius: 10px;
	display: inline-block;
}
#screen {
	width: 200px;
	border: 1px solid #f1f1f1;
	border-radius: 3px;
	box-shadow: 1px 3px 6px 0px #f9f9f9;
	text-align: center;
	margin: 0 auto;
	background-color: #fefeff;
}
#table-screen {
	border-collapse: separate;
}
#displayscreenTickets {
	margin-top: 10px;
}
#table-screen td,
th,
tr {
	padding: 8px 0px;
	text-align: center;
}
.bookingTicket select {
	width: 100% !important;
}
.bookingTicket .form-group {
	margin-left: 0px;
}
.screen-map {
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
}
.screen-map img {
	margin-right: 15px;
}
.reserved-seat {
	margin-left: 4px;
	width: 25px;
}
.empty-seat {
	cursor: pointer;
	width: 25px;
}
.booked-seat {
	cursor: pointer;
	content: url('../img/selected.png');
	width: 25px;
}
.message {
	font-size: 14px;
	color: #1100ff;
	font-family: sans-serif;
}